@media only screen and (min-width: 320px) and (max-width: 767px) {
    * {
        font-size: 12px;
    }
    .lightbox__container img,
    .lightbox__container video {
        height: auto;
        border-radius: 0;
    }
    .lightbox__container p {
        /* font-size: 2em; */
        margin: 20px auto;
    }
    .lightbox__prev,
    .lightbox__next {
        width: fit-content;
        position: absolute;
        height: auto;
    }
    .lightbox__prev {
        left: 10px;
        z-index: 5;
    }
    .lightbox__next {
        right: 10px;
    }
    .lightbox__prev i,
    .lightbox__next i,
    .lightbox__close i {
        font-size: 2.5rem;
    }
}