@media only screen and (min-width: 320px) and (max-width: 767px) {
    * {
        font-size: 12px;
    }
    .modal {
        width: 100%;
        padding: 30px 20px;
    }
    .modal .header img {
        width: 30px;
    }
    form label {
        margin: 10px 0;
    }
    form input {
        height: 30px;
    }
    form input,
    textarea {
        font-size: 1.2rem;
    }
    .modal .contact_button {
        margin: auto;
        font-size: 1.2rem;
    }
}