* {
    font-size: 18px;
}

#contact_modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.4);
    animation: fadeIn .3s both;
    z-index: 2;
}

#contact_modal[aria-hidden="true"] {
    animation-name: fadeOut;
}

.modal {
    overflow: auto;
    width: 35%;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 35px;
    background-color: #DB8876;
    animation: slideFromTop .5s both;
    border-radius: 5px;
}

#contact_modal[aria-hidden="true"] .modal {
    animation-name: slideToBottom;
}

.modal-close {
    background: transparent;
    border: none;
}

.modal .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: baseline;
}

.modal .header img {
    cursor: pointer;
}

.modal .header h2 {
    font-weight: normal;
    margin: 0 0 20px;
}

.modal .header h2,
.modal-name-photographer {
    font-size: 3.556rem;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: calc(100% - 16px);
    border: none;
    border-radius: 5px;
    padding: 8px;
}

form input {
    height: 50px;
}

form textarea {
    height: 120px;
    resize: none;
}

.modal .contact_button {
    position: relative;
    margin: initial;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideToBottom {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50px);
    }
}