@import url("photographer-responsive.css");
@media only screen and (min-width: 320px) and (max-width: 767px) {
    * {
        font-size: 12px;
    }
    header {
        padding-top: 20px;
        flex-wrap: wrap;
        height: initial;
        justify-content: center;
        text-align: center;
    }
    header a {
        width: 100%;
    }
    .logo {
        margin-left: initial;
        height: 3em;
    }
    h1 {
        margin-right: 0;
        width: 100%;
    }
    .photographer_section {
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
    .img_h2_div img {
        height: 150px;
        width: 150px;
    }
    /* h1,
    .img_h2_div h2 {
        font-size: 1.8em;
    }
    .location_p {
        font-size: 1em;
    }
    .tagline_p,
    .price_p {
        font-size: .8em;
    } */
}


/* @media only screen and (min-width: 768px) {
    body {
        background-color: lightblue;
    }
} */